*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
	padding-top: 25px;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #98EECC;
    color: #000;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
	position: relative;
	bottom: 20px;
}
.logo{
    order: 1;
    font-size: 2.3rem;
	position: relative;
	bottom: 15px;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}



/*  */


/* $speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7); */

.navbar-toggle {
  overflow: hidden;

  /* .icon-bar {
    transition: opacity, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
  } */

  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}


.fa-diamond{
  color:green;
}

.fa-paper-plane{
  color:green;
}

.fa-newspaper-o{
  color:green;
}
  
.btn {
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
  background-color:transparent;
  color:white
}

.cta{

  padding: 50px 0px 0px 0px;
}


#text{
  color:yellow;
}



.top{
  text-align: center;
  padding-top:50vh;
  padding-bottom:50vh;
  color:white;
  border-style: solid;
  border-width: 0px 0px 0px 0px ;
  background-color:black;
  height:100vh;

  background-image:url("../images/topbg.jpg");
  background-position: bottom;
=======
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu{
  position:fixed;
  width:100%;
  color:white;
  border-style: solid;
  border-width: 0px 0px 1px 0px ;
  border-color:white;
  background-color:black;
  text-align:right;
 
     
;
  padding-top:0px;
  z-index: 3;
  height:auto;
  
 
  
  
}

.logo{
  text-align: left;
}

.points{
  text-align: right;
  position:relative;
  bottom:30px;
  
}

ul
{
    list-style-type: none;
  cursor:pointer;
}

.sideNav{
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 0px 1px 1px 0px ;
  padding-top:30px;
  height:100%;
  

  
}


a {
    color: black;
}






.content{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  
}

.content.content1{
    
   padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
  
}

.content1:hover{


 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
  
}

.content.content2{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
  
}

.content2:hover{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
}

.content.content3{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
   background-size:cover;
  
}

.content3:hover{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
}

.content.content4{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
  
}

.content4:hover{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://png.pngtree.com/thumb_back/fh260/background/20190830/pngtree-vector-design-background-of-scientist-with-chemical-titration-equipment-image_309238.jpg");
  background-size:cover;
}





.three{
  
   padding:100px;
 border-style: solid;
  border-width: 0px 0px 0px 0px;
  text-align:center;
  background-color:#F6F6F6;
  
}

.strap{
  
   padding:50px;
 border-style: solid;
  border-width: 0px 0px 0px 0px;
  text-align:center;
  background-color:#3d565c;
  color:white;
  
  
}


.form{
  text-align: center;
  color:black;
  border-style: solid;
  border-width: 1px 0px 1px 0px ;
  background-color:white;
  padding-top:200px;
  padding-bottom:200px;
}

.footer{
  text-align: center;
  color:white;
  border-style: solid;
  border-width: 0px 0px 1px 0px ;
  background-color:black;
  padding-top:25px;
  padding-bottom:25px;
}

.contentsec2{
  color:white;

}

div{

  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

  
}


h3 {
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
}

h4 {
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


p{
  font-family:Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.right{
  float:right;
   
  font-size: 105%;
  
  
}

.content1:hover { 
    background-color: yellow;
}



.mainContent{
 padding-top:0px; 
  
}

.hideme
{
    opacity:0;
}


/*  */

.card {
    border-radius:0;
    margin:10px auto;
    border: 0;
}
.card-title {
	text-transform: uppercase;
	color: #E44424;
}

.whatwedo-img{
  height: 100%;
}
.card-text {
  
	margin-top:10px;
	margin-bottom: 10px;
	background-color:#FFFFFF;
	color:#000000;
}
.medi-buddy-text{
  font-size: 30px;
}
a.btn, a.btn:visited {
    color:#333333;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.heading{
  padding: 100px 0 100px 0;
  text-align: center;
  font-size: 75px;
  color: #1D2C59;
  letter-spacing: 10px;
  font-weight: 700;
}
.Topheading{
  text-align: center;
  font-size: 100px;
  color: #1D2C59;
  letter-spacing: 10px;
  font-weight: 900;
}


/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.cardService {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
=======

.card-text {
	margin-top:10px;
	margin-bottom: 10px;
	background-color:#FFFFFF;
	color:#000000;
}
a.btn, a.btn:visited {
    color:#333333;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.heading{
  padding: 100px 0 100px 0;
  text-align: center;
  font-size: 75px;
  color: #1D2C59;
  letter-spacing: 10px;
  font-weight: 700;
}
.Topheading{
  text-align: center;
  font-size: 75px;
  color: #1D2C59;
  letter-spacing: 10px;
  font-weight: 900;
}


/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.cardService {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

