*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
	padding-top: 25px;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #98EECC;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
	position: relative;
	bottom: 20px;
}
.logo{
    order: 1;
    font-size: 2.3rem;
	position: relative;
	bottom: 15px;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}



/*  */


/* $speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7); */

.navbar-toggle {
  overflow: hidden;

  /* .icon-bar {
    transition: opacity, transform;
    transition-duration: $speed;
    transition-timing-function: $easing;
  } */

  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}


.fa-diamond{
  color:green;
}

.fa-paper-plane{
  color:green;
}

.fa-newspaper-o{
  color:green;
}
  
.btn {
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
  background-color:transparent;
  color:white
}

.cta{

  padding: 50px 0px 0px 0px;
}


#text{
  color:yellow;
}



.top{
  text-align: center;
  padding-top:50vh;
  padding-bottom:50vh;
  color:white;
  border-style: solid;
  border-width: 0px 0px 0px 0px ;
  background-color:black;
  height:100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1456894332557-b03dc5cf60d5?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=675&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.menu{
  position:fixed;
  width:100%;
  color:white;
  border-style: solid;
  border-width: 0px 0px 1px 0px ;
  border-color:white;
  background-color:black;
  text-align:right;
 
     
;
  padding-top:0px;
  z-index: 3;
  height:auto;
  
 
  
  
}

.logo{
  text-align: left;
}

.points{
  text-align: right;
  position:relative;
  bottom:30px;
  
}

ul
{
    list-style-type: none;
  cursor:pointer;
}

.sideNav{
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 0px 1px 1px 0px ;
  padding-top:30px;
  height:100%;
  

  
}


a {
    color: black;
}






.content{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  
}

.content.content1{
    
   padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),  url("https://images.unsplash.com/photo-1467321638755-7246fd0dc1f3?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=899&q=80");
  background-size:cover;
  
}

.content1:hover{


 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1467321638755-7246fd0dc1f3?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=899&q=80");
  background-size:cover;
  
}

.content.content2{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("https://images.unsplash.com/photo-1465328610639-388f315eb31b?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80");
  background-size:cover;
  
}

.content2:hover{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1465328610639-388f315eb31b?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80");
  background-size:cover;
}

.content.content3{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("https://images.unsplash.com/photo-1465628976988-fe43bda15798?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=798&q=80");
   background-size:cover;
  
}

.content3:hover{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1465628976988-fe43bda15798?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=798&q=80");
  background-size:cover;
}

.content.content4{
  padding:100px;
 border-style: solid;
  border-width: 0px 1px 1px 0px;
  text-align:center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("https://images.unsplash.com/photo-1465479423260-c4afc24172c6?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=800&q=80");
  background-size:cover;
  
}

.content4:hover{
 background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1465479423260-c4afc24172c6?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=800&q=80");
  background-size:cover;
}





.three{
  
   padding:100px;
 border-style: solid;
  border-width: 0px 0px 0px 0px;
  text-align:center;
  background-color:#F6F6F6;
  
}

.strap{
  
   padding:50px;
 border-style: solid;
  border-width: 0px 0px 0px 0px;
  text-align:center;
  background-color:#3d565c;
  color:white;
  
  
}


.form{
  text-align: center;
  color:black;
  border-style: solid;
  border-width: 1px 0px 1px 0px ;
  background-color:white;
  padding-top:200px;
  padding-bottom:200px;
}

.footer{
  text-align: center;
  color:white;
  border-style: solid;
  border-width: 0px 0px 1px 0px ;
  background-color:black;
  padding-top:25px;
  padding-bottom:25px;
}

.contentsec2{
  color:white;

}

div{

  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

  
}


h3 {
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
}

h4 {
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


p{
  font-family:Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.right{
  float:right;
   
  font-size: 105%;
  
  
}

.content1:hover { 
    background-color: yellow;
}

.form{

}

.mainContent{
 padding-top:0px; 
  
}

.hideme
{
    opacity:0;
}


/*  */

.card {
    border-radius:0;
    margin:10px auto;
}
.card-title {
	text-transform: uppercase;
	color: #E44424;
}

.card-text {
	margin-top:10px;
	margin-bottom: 10px;
	background-color:#FFFFFF;
	color:#000000;
}
a.btn, a.btn:visited {
    color:#333333;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}